.container {
    text-decoration: none;
    margin: 0px auto;
    padding: 0px;
    font-family: sans-serif;
    width: 90%;
    height: auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
    flex-grow: 1;
    flex-basis: 65%;
    padding: 10px;
    margin-left: 20px;
    text-shadow: 1px 1px 0px #ccc;
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

.logo h1 {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

.menu {
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
}

.menu>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style: none;
}

.menu>ul:last-child {
    padding-right: 10px;
}

.menu a {
    color: #444;
    padding: 15px;
    text-decoration: none;
    transition: all 0.5s;
}

.menu a:hover {
    background: #ccc;
    color: #fff;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 80%;
}

.project {
    flex-basis: 250px;
    flex-grow: 1;
    margin-bottom: 25px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 10px;
}

.project-info a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.5s;
}

.project-info a:hover {
    color: green;
}

.project-info p {
    font-size: 16px;
    color: gray;
}

.aside {
    display: flex;
    flex-basis: 15%;
    margin-right: 30px;
    padding: 15px;
    flex-flow: column wrap;
}

.aside h2 {
    display: block;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.aside ul {
    list-style: none;
}

.aside>ul>li {
    width: 100%;
    padding-bottom: 20px;
}

.aside a {
    display: block;
    text-decoration: none;
    padding: 20px;
    background: #eee;
    color: #444;
    text-align: center;
    transition: all 0.5s;
    text-transform: uppercase;
}

.aside a:hover {
    background: #444;
    color: #eee;
}

footer {
    display: flex;
    flex-grow: row wrap;
    justify-content: flex-start;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 226, 0.8);
}

footer .logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
}

footer .info {
    flex-grow: 1;
    color: #444;
}

@media ( max-width: 1081px) {
    .header {
        text-align: center !important;
    }
    .menu>ul {
        margin-top: 20px !important;
        align-items: flex-start !important;
        justify-content: space-evenly !important;
    }
}
