<!-- inicio de cabecera -->
<header id="header">
    <div class="wrap">
        <div id="logo">
            <i class="fas fa-cog gear"></i>
            <h3>BLOG</h3>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="">INICIO</a>
                </li>
                <li>
                    <a href="">BLOG</a>
                </li>
                <li>
                    <a href="">FORMACION</a>
                </li>
                <li>
                    <a href="">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
<!-- fin de cabecera -->

<router-outlet></router-outlet>

<!-- pide de pagina -->
<div class="clearfix"></div>
<footer id="footer">
    <div class="wrap">

        <div id="menu_footer">
            <h5>MENU</h5>
            <ul>
                <li>
                    <a href="">INICIO</a>
                </li>
                <li>
                    <a href="">BLOG</a>
                </li>
                <li>
                    <a href="">FORMACION</a>
                </li>
                <li>
                    <a href="">CONTACTO</a>
                </li>
            </ul>
        </div>

        <div id="location">
            <h5>DONDE ESTAMOS?</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.0037427349575!2d-3.688344474907261!3d40.45305413217405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228e23705d39f%3A0xa8fff6d26e2b1988!2sEstadio%20Santiago%20Bernab%C3%A9u!5e0!3m2!1ses!2spa!4v1577906385803!5m2!1ses!2spa"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>

        <div id="info">
            <h5>Desarrollado con</h5>
            <p>
                <img src="./assets/img/html5-badge-h-css3-graphics-multimedia-performance-semantics.png" alt="Creado HTML y CSS" />
            </p>

            <h5>Optimizado para</h5>
            <p id="browsers">
                <a href="">
                    <img src="./assets/img/firefox-icon.png" alt="Firefox" title="Firefox">
                </a>
                <a href="">
                    <img src="./assets/img/chrome.png" alt="Chrome" title="Chrome">
                </a>
                <a href="">
                    <img src="./assets/img/Opera_256x256.png" alt="Opera" title="Opera">
                </a>
                <a href="">
                    <img src="./assets/img/safari.png" alt="Safari" title="Safari">
                </a>
                <a href="">
                    <img src="./assets/img/android.png" alt="Android" title="Android">
                </a>
                <a href="">
                    <img src="./assets/img/ios.png" alt="Apple" title="Apple">
                </a>
            </p>

            <h5>AUTOR</h5>
            <p>&copy; Alfredo Echeverria</p>
        </div>
    </div>
</footer>
<!-- fin de pagina -->